In [2]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv(r'Mental-Health-Twitter-Preprocessed.csv')
df.head()

,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,URLs,Mentions,Hashtags,label
0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,information technology is just over years sinc...,1013187241,84,211,251,837,0,False,False,"['#anxiety', '#depression']",1
1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,information technology is sunday i need a brea...,1013187241,84,211,251,837,1,False,False,['#A14'],1
2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,awake but tired i need tears in miss you eyes ...,1013187241,84,211,251,837,0,False,False,[],1
3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,bears make perfect gifts and are great for beg...,1013187241,84,211,251,837,2,True,True,"['#Retro', '#yay']",1
4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,information technology is hard tears in miss y...,1013187241,84,211,251,837,1,False,False,"['#movinghouse', '#anxiety']",1